:root {
  --bs-primary: #6f6196;
  --text-color: #000;
}

.btn-primary {
  --background-color: --bs-primary;
}

.list-group {
  margin-bottom: 1em;
}

.list-group-item:hover {
  background-color: var(--bs-primary, #ccc);
  color: #fff;
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active, {
  color: #7566a0;
  text-decoration: none;
}

a:hover {
  color: #a0ec88;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: var(--text-color, #000);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-hover, #000);
}

.container-fluid {
  max-width: 1200px;
}

.tag-line {
  color: var(--bs-primary);
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 3em;
  position: relative;
}

.x-nav-bottom {
  bottom: 1em;
}

#viewdo-logo {
  padding: 1em 0 1em 1em;
}

.brand {
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
}

b.brand {
  color: #7566a0;
  font-size: 1.3em;
}
