
body {
  --x-background-color: #fff;
  --x-background-color-rgb: 255,255,255;
  --x-text-color: #000;
  --x-text-color-rgb: 0,0,0;
  --x-border-color: #525151;
  --x-item-background: #363636;
  --x-toolbar-background: #464646;
  --x-tab-bar-background: #000;
  --x-card-background: #414141;
  --x-color-primary: #428cff;
  --x-color-primary-rgb: 66, 140, 255;
  --x-color-primary-contrast: #fff;
  --x-color-primary-contrast-rgb: 255, 255, 255;
  --x-color-primary-shade: #3a7be0;
  --x-color-primary-tint: #5598ff;
  --x-color-secondary: #50c8ff;
  --x-color-secondary-rgb: 80, 200, 255;
  --x-color-secondary-contrast: #fff;
  --x-color-secondary-contrast-rgb: 255, 255, 255;
  --x-color-secondary-shade: #46b0e0;
  --x-color-secondary-tint: #62ceff;
  --x-color-tertiary: #6a64ff;
  --x-color-tertiary-rgb: 106, 100, 255;
  --x-color-tertiary-contrast: #fff;
  --x-color-tertiary-contrast-rgb: 255, 255, 255;
  --x-color-tertiary-shade: #5d58e0;
  --x-color-tertiary-tint: #7974ff;
  --x-color-success: #2fdf75;
  --x-color-success-rgb: 47, 223, 117;
  --x-color-success-contrast: #000;
  --x-color-success-contrast-rgb: 0, 0, 0;
  --x-color-success-shade: #29c467;
  --x-color-success-tint: #44e283;
  --x-color-warning: #ffd534;
  --x-color-warning-rgb: 255, 213, 52;
  --x-color-warning-contrast: #000;
  --x-color-warning-contrast-rgb: 0, 0, 0;
  --x-color-warning-shade: #e0bb2e;
  --x-color-warning-tint: #ffd948;
  --x-color-danger: #ff4961;
  --x-color-danger-rgb: 255, 73, 97;
  --x-color-danger-contrast: #fff;
  --x-color-danger-contrast-rgb: 255, 255, 255;
  --x-color-danger-shade: #e04055;
  --x-color-danger-tint: #ff5b71;
  --x-color-dark: #f4f5f8;
  --x-color-dark-rgb: 244, 245, 248;
  --x-color-dark-contrast: #000;
  --x-color-dark-contrast-rgb: 0, 0, 0;
  --x-color-dark-shade: #d7d8da;
  --x-color-dark-tint: #f5f6f9;
  --x-color-medium: #989aa2;
  --x-color-medium-rgb: 152, 154, 162;
  --x-color-medium-contrast: #000;
  --x-color-medium-contrast-rgb: 0, 0, 0;
  --x-color-medium-shade: #86888f;
  --x-color-medium-tint: #a2a4ab;
  --x-color-light: #222428;
  --x-color-light-rgb: 34, 36, 40;
  --x-color-light-contrast: #fff;
  --x-color-light-contrast-rgb: 255, 255, 255;
  --x-color-light-shade: #1e2023;
  --x-color-light-tint: #383a3e;
}

.dark {
  --x-background-color: #2f2f2f;
  --x-background-color-rgb: 18,18,18;
  --x-text-color: #fff;
  --x-text-color-rgb: 255,255,255;
  --x-border-color: #525151;
  --x-item-background: #363636;
  --x-toolbar-background: #464646;
  --x-tab-bar-background: #000;
  --x-card-background: #414141;
  --x-color-primary: #428cff;
  --x-color-primary-rgb: 66, 140, 255;
  --x-color-primary-contrast: #fff;
  --x-color-primary-contrast-rgb: 255, 255, 255;
  --x-color-primary-shade: #3a7be0;
  --x-color-primary-tint: #5598ff;
  --x-color-secondary: #50c8ff;
  --x-color-secondary-rgb: 80, 200, 255;
  --x-color-secondary-contrast: #fff;
  --x-color-secondary-contrast-rgb: 255, 255, 255;
  --x-color-secondary-shade: #46b0e0;
  --x-color-secondary-tint: #62ceff;
  --x-color-tertiary: #6a64ff;
  --x-color-tertiary-rgb: 106, 100, 255;
  --x-color-tertiary-contrast: #fff;
  --x-color-tertiary-contrast-rgb: 255, 255, 255;
  --x-color-tertiary-shade: #5d58e0;
  --x-color-tertiary-tint: #7974ff;
  --x-color-success: #2fdf75;
  --x-color-success-rgb: 47, 223, 117;
  --x-color-success-contrast: #000;
  --x-color-success-contrast-rgb: 0, 0, 0;
  --x-color-success-shade: #29c467;
  --x-color-success-tint: #44e283;
  --x-color-warning: #ffd534;
  --x-color-warning-rgb: 255, 213, 52;
  --x-color-warning-contrast: #000;
  --x-color-warning-contrast-rgb: 0, 0, 0;
  --x-color-warning-shade: #e0bb2e;
  --x-color-warning-tint: #ffd948;
  --x-color-danger: #ff4961;
  --x-color-danger-rgb: 255, 73, 97;
  --x-color-danger-contrast: #fff;
  --x-color-danger-contrast-rgb: 255, 255, 255;
  --x-color-danger-shade: #e04055;
  --x-color-danger-tint: #ff5b71;
  --x-color-dark: #f4f5f8;
  --x-color-dark-rgb: 244, 245, 248;
  --x-color-dark-contrast: #000;
  --x-color-dark-contrast-rgb: 0, 0, 0;
  --x-color-dark-shade: #d7d8da;
  --x-color-dark-tint: #f5f6f9;
  --x-color-medium: #989aa2;
  --x-color-medium-rgb: 152, 154, 162;
  --x-color-medium-contrast: #000;
  --x-color-medium-contrast-rgb: 0, 0, 0;
  --x-color-medium-shade: #86888f;
  --x-color-medium-tint: #a2a4ab;
  --x-color-light: #222428;
  --x-color-light-rgb: 34, 36, 40;
  --x-color-light-contrast: #fff;
  --x-color-light-contrast-rgb: 255, 255, 255;
  --x-color-light-shade: #1e2023;
  --x-color-light-tint: #383a3e;
}

