x-link {
  --text-color: #000;
  --text-color-hover: rgb(121, 26, 145);

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: var(--text-color, #000);
    text-decoration: none;
  }

  a:hover {
    color: var(--text-color-hover, #000);
  }
}





