
:host {
  --padding: 16px;
  --padding-bottom: 16px;
  --padding-top: 16px;
  --background-color: #fff;
  --color: #000;
  background-color: var(--background-color);
  color: var(--color);
  display: none;
  overflow: auto;
  padding: var(--padding);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);

  ::slotted([slot='content']) {
    display: none;
  }
}

:host(.active-route) {
  display: block;
}

:host(.active-route-exact) {
  ::slotted([slot='content']) {
    display: block;
  }
}


