
:host {
  --padding: 16px;
  --padding-bottom: 16px;
  --padding-top: 16px;
  --background-color: #fff;
  --color: #000;
  background-color: var(--background-color);
  color: var(--color);
  contain: layout size style;

  height: 100%;
  overflow: auto;
  padding: var(--padding);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
}

::slotted(x-view) {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
  z-index: 1;
}

:host(.xui-active-route) {
  ::slotted(*:not(x-view):not(x-view-do)) {
    display: none;
    visibility: hidden;
  }

  ::slotted(x-view),
  ::slotted(x-view-do) {
    visibility: visible;
  }

}

:host(.xui-active-route-exact) {
  visibility: visible !important;
}


