
:host {
  display: none;
}

:host(.active-route) {
  display: block;

  ::slotted([slot='content']) {
    display: none;
  }
}

:host(.active-route-exact) {
  ::slotted([slot='content']) {
    display: block;
  }
}

