x-data-provider-cookie {
  --background-color: #fff;
  --color: #000;
}

:host {
  display: block;
}

div {
  background-color: var(--background-color, #fff);
  border-top: 1px solid #333;
  color: var(--color, #000);
  padding: 1em;
}

button {
  float: right;
  margin: 0 0 1em 1em;
}

