
:host {
  --padding: 16px;
  --padding-bottom: 16px;
  --padding-top: 16px;
  --background-color: #fff;
  --color: #000;

  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  height: 100%;
  overflow: auto;
  padding: val(--padding);
  padding-bottom: val(--padding-bottom);
  padding-top: val(--padding-top);
  position: relative;
}

::slotted(x-view) {
  display: block;
  height: 100%;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

:host(.xui-active-route) {
  ::slotted(*:not(x-view):not(x-view-do)) {
    visibility: hidden;
  }

  ::slotted(x-view),
  ::slotted(x-view-do) {
    visibility: visible;
  }

}

:host(.xui-active-route-exact) {
  visibility: visible !important;
}


