@import '../../index';

:host {
  --background-color: val(--ionic-background-color, #fff);
  --color: val(--ionic-text-color, #000);
  display: none;
}

:host(.active-route) {
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}

.hidden {
  display: none;
}
